*{
    font-family: futura bk bt;
    font-size: 20px;
}
#menu_1,#menu_2,#menu_3{
    width: 100%;
    float: right;
    margin: 20px 0;
}
#menu_1{
    background-color: teal;
}
.inner_div{
    width: 500px;
    margin: auto;
}
.inner_div a{
    font-size: 20px;
    font-family: futura bk bt;
    /* font-weight: bold; */
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    float: left;
}
.inner_div a:hover{
    color: black;
    background-color: rgba(230, 230, 230, 0.85);
}

#menu_2{
    width: 100%;
    float: right;
    border-bottom: 2px solid black;
}
#menu_2 .inner_div{
   float: right;
}
#menu_2 .inner_div a{
    color: black;
    line-height: ;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}
#menu_2 .inner_div a:hover{
    border-bottom: 3px solid black;
}

#menu_3{
    width: 100%;
    float: left;
}
#menu_3 ul{
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}
#menu_3 ul li{
    float: left;
}
#menu_3 ul li a{
    float: left;
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    margin-right: 5px;
    border: 2px solid rgba(0, 0, 0, 0);
}
#menu_3 ul li a:hover{
    color: rgb(123, 123, 123);
    border: 2px solid rgb(167, 167, 167);
}
#menu_4{
    float: right;
    margin: 20px 0;
    padding: 0;
}
#menu_4 p{
    float: left;
    margin: 0;
    padding: 0;
}
#menu_4 p a{
    float: left;
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    border: 2px solid rgba(0, 0, 0, 0);
}
#menu_4 p a:hover{
    background-color: rgb(233, 233, 233);
}